<h1> Welcome to: <%= @park.name %> </h1>

<h2> Available Courts/Sports </h2>

<div class="column">
		<% @park.courts.each do |court| %>
		<ul>
			<li><%= court.sport.name %></li>
			<li><a data-method="get" href="/games/new?court_id=<%= court.id %>" rel="nofollow">Create a game at this court</a></li>
		</ul>
</div>

<% end %>

			  



