<div class="jumbotron">
  <h1>Welcome to Game-Match-Set</h1>
  <h2>Our goal is to bring Chicago-based, Recreational-athletes together</h2>
  <p>Create, search and join games<p>
  	<h4>Connect with others looking to play:</h4>
  	<p><ul>
  		<li>Basketball</li>
  		<li>Baseball</li>
  		<li>Soccer</li>
  		<li>Tennis</li>
  		<li>Volleyball</li>
  	<ul><p>
  <p><a class="btn btn-primary btn-lg" href="/games" role="button">Start Playing Now!</a></p>
</div>