<!-- Topic Header -->
      <div class="topic">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <h3>SetGame-Match</h3>
            </div>
            <div class="col-sm-8">
            </div>
          </div>
        </div>
      </div>

      <div class="container">

        <div class="row">
          <div class="col-sm-7">
            <h3 class="headline first-child"><span>Welcome to SetGame-Match</span></h3>
            <p>
              Finding people to play recreational sports with can prove to be harder than it seems.  When I moved to the great city of Chicago, I had a hard time finding pick-up basketball games around the city at the many outdoor parks scattered all over its many neighborhoods.  I wanted to change that.  Sure, signing up through the many leagues offered is great, but what about that random Wednesday you want to play a one-off game at the court down the street from you. That's what SetGame-Match is here for.
              <br /><br />
              Sign Up, make your own profile and start creating or finding games to join immediately. Sports support are: 
              <ul>
                <li>Basketball</li>
                <li>Baseball</li>
                <li>Volleyball</li>
                <li>Tennis</li>
                <li>Soccer</li>
              </li>
            </p>
            <hr>
            <a href="/games" class="btn btn-lg btn-theme-primary">Start Browsing Now</a>
            <br /><br />
          </div>
          <div class="col-sm-5">
            <h3 class="headline first-child"><span>Welcome</span></h3>
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
        </div> <!-- / .row -->
