#map-canvas {
	height: 575px;
	width: 700px;
	border-width:5px;	
  border-style:outset;
  border-color: #ed3e49;

}

.navbar-btn {
background: #ed3e49;
	a {
		color: #fff;
	}
}

.btn-info {
	a {
		color: #fff;
	}
}

.btn-danger {
	a {
		color: #fff;
	}
}

.map-parks {
	float: right;

}

.new-game {
	
	width: 300px;
}

