<!DOCTYPE html>
<html>


<head>
  <title>Game-Match-Set</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  

  

</head>
<body>

	<!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!-- Where the NavBar starts -->
        </div>
        <div class="collapse navbar-collapse">
          <% if current_user %>
            <button class="navbar-btn btn btn-theme-primary pull-right hidden-sm hidden-xs z white-text"><a href="/users/sign_out" data-method="delete">Sign Out</a></button>
          <% else %>
            <button class="navbar-btn btn btn-theme-primary pull-right hidden-sm hidden-xs"><a href="/users/sign_up">Sign Up</a></button>
            <button class="navbar-btn btn btn-theme-primary pull-right hidden-sm hidden-xs"><a href="/users/sign_in">Sign In</a></button>
          <% end %> 
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-sm">
              <a href="/games">Games</a>
            </li>
            <li class="dropdown active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Map<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">About Us</a>
                  <ul class="dropdown-menu">
                    <li><a href="about-us.html">About Us: Default</a></li>
                    <li><a href="about-us_option-1.html">About Us: Option 1</a></li>
                  </ul>
                </li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Contact Us</a>
                  <ul class="dropdown-menu">
                    <li><a href="contact-us.html">Contact Us: Default</a></li>
                    <li><a href="contact-us_option-1.html">Contact Us: Option 1</a></li>
                  </ul>
                </li>
                <li><a href="help-center.html">Help Center</a></li>
                <li><a href="help-item.html">Help Item</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Pricing Options</a>
                  <ul class="dropdown-menu">
                    <li><a href="pricing.html">Pricing: Boxes</a></li>
                    <li><a href="pricing_joint.html">Pricing: Joint Boxes</a></li>
                    <li><a href="pricing_table.html">Pricing: Table</a></li>
                  </ul>
                </li>
                <li><a href="responsive-video.html">Responsive Video</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="sign-in.html">Sign In</a></li>
                <li><a href="sign-up.html">Sign Up</a></li>
                <li><a href="search-results.html">Search Results</a></li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Timeline</a>
                  <ul class="dropdown-menu">
                    <li><a href="timeline_center.html">Timeline: Center</a></li>
                    <li><a href="timeline_left.html">Timeline: Left</a></li>
                    <li><a href="timeline_right.html">Timeline: Right</a></li>
                  </ul>
                </li>
                <li><a href="error-page.html">404 Error Page</a></li>
              </ul>
            </li>
            <li class="hidden-sm">
              <a href="/games/new">Start a New Game</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Blog</a>
                  <ul class="dropdown-menu">
                    <li><a href="blog_sidebar-right.html">Sidebar Right</a></li>
                    <li><a href="blog_sidebar-left.html">Sidebar Left</a></li>
                    <li><a href="blog_sidebar-no.html">Without Sidebar</a></li>
                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a href="javascript:void(0);">Blog Post</a>
                  <ul class="dropdown-menu">
                    <li><a href="blog-post_sidebar-right.html">Sidebar Right</a></li>
                    <li><a href="blog-post_sidebar-left.html">Sidebar Left</a></li>
                    <li><a href="blog-post_sidebar-no.html">Without Sidebar</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="hidden-sm">
              <a href="/games/mygame">My Current Game</a>
            </li>
            <li class="hidden-sm">
              <a href="">My Profile</a>
            </li>
            <!-- Navbar Search -->
            <li class="hidden-xs" id="navbar-search">
              <a href="#">
                <i class="fa fa-search"></i>
              </a>
              <div class="hidden" id="navbar-search-box">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                  </span>
                </div>
              </div>
            </li>
          </ul>
          <!-- Mobile Search -->
          <form class="navbar-form navbar-right visible-xs" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-btn">
                <button class="btn btn-theme-primary" type="button">Search!</button>
              </span>
            </div>
          </form>
        </div><!--/.nav-collapse -->
      </div>
    </div> <!-- / .navigation -->




<div class="wrapper">
	<div class="container">
		<%= yield %>
	</div>
</div>
</body>
</html>
